* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(20,33,61);
}

#nav{
    display: flex;
    background-color: rgb(250,163,29);
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    justify-content: space-evenly;
    font-size: 25px;
    padding: 10px;
}

.nav-content{
    display: flex;
}

#nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

#nav ul li{
    display: flex;
    justify-content: space-evenly;
    padding-right: 70px;

}

#nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}
.logo{
    padding-left: 10px;
}

#nav a:hover{
    color: #000;
    background-color: rgb(229,229,229);
    border-radius: 3px;
    padding: 10px;
}